<div class="container-fluid mt-1 mt-md-2 h-100">
  <h1 class="text-center mb-4">Home</h1>

  <div class="row h-100">
    <div class="col-md-4 col-xl-3 d-flex mb-4">
          <div class="card flex-fill">
            <h5 class="card-header">Current Courses</h5>
            <div class="card-body overflow-auto">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Kenpo Foundations</h5>
                    <small>Active 1 day ago</small>
                  </div>
                  <p class="mb-1">Learn the foundational movements for the Kenpo System. This includes strikes, stances, and kicks.</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Grappling Level 3</h5>
                    <small>Active 3 days ago</small>
                  </div>
                  <p class="mb-1">Continue on the Kenpo Grappling path, by learning the most advanced grappling techniques tought</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Boxing Basics</h5>
                    <small>Active 16 days ago</small>
                  </div>
                  <p class="mb-1">Learn the basic strikes, defenses, footwork, and strategies for boxing.</p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="w-100">
                    <h5 class="mb-1 text-center">View all courses...</h5>
                  </div>
                </a>
              </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-6 d-flex mb-4">
          <div class="card flex-fill">
            <h5 class="card-header">Feed</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3 d-flex mb-4">
      <div class="card-columns flex-column d-flex flex-fill">
        <div class="card flex-fill mb-4">
          <h5 class="card-header">Announcments</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card flex-column flex-fill">
            <h5 class="card-header">Calendar</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <!-- <div class="row h-50 mb-4">
        <div class="col h-100">
          <div class="card h-100">
            <h5 class="card-header">Announcments</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="row h-50 mb-4">
        <div class="col h-100">
          <div class="card h-100">
            <h5 class="card-header">Calendar</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
